@import '../../../@theme/styles/themes';

@include nb-install-component() {
  input {
    width: 100%;
    margin: 10px;
  }

  .cancel {
    margin-right: 1rem;
  }

  nb-card-body {
    overflow: visible;
    padding-top: 0;

    > * {
      margin-top: 1rem;
    }
  }

  .stream-url-inputs {
    display: flex;
  }

  .checkbox-radio {
    display: flex;
  }

  .demo-items {
    flex: 1 0 33%;
  }

}
